.logoContainer
  height: 100%
  outline: none
  justify-content: center
  // @media (max-width: $mantine-breakpoint-xs)
  //   height: 40px
  @media (max-width: $mantine-breakpoint-md)
    justify-content: flex-end

.logo
  display: unset
  margin-bottom: 3% // accounting for uncentered logo
  width: 319px
  padding-right: 10px
  object-view-box: inset(37% 15% 41% 11%)

  @media (max-width: $mantine-breakpoint-md)
    width: 240px
  @media (max-width: $mantine-breakpoint-xs)
    width: 188px
