.logoContainer
  height: 100%
  outline: none
  justify-content: center
  // @media (max-width: $mantine-breakpoint-xs)
  //   height: 40px
  @media (max-width: $mantine-breakpoint-md)
    justify-content: flex-end

.logo
  position: relative
  display: unset

  img,
  video
    width: 320px
    @media (max-width: $mantine-breakpoint-sm)
      width: 240px
    @media (max-width: $mantine-breakpoint-xs)
      width: 188px

  .logoButton
    display: flex

  .logoVideoContainer
    margin-top: -5px // accounting for uncentered logo
    margin-bottom: -10px // Elongate bottom to ensure no pixel peeking from behind
    background-color: var(--colors-header, var(--mantine-color-body))
    position: absolute
    inset: 0
    pointer-events: none
    --mask: linear-gradient(to right, rgba(0, 0, 0, 1) 45%, rgba(0, 0, 0, 0) 55%)      
    -webkit-mask: var(--mask)
    mask: var(--mask)
    mask-size: 210%
    mask-position: 100%
    transition: mask-position 1s 0.6s linear
    transition-timing-function: ease-out
    &Reveal
      mask-position: 0%
      transition-timing-function: ease-in
      transition-delay: 0.5s
